h2{
    font-family:Arial;
	font-size:15px;
    font-weight:bold;
    color:orangered;
    position: absolute;
    left: 40%;
    top: 10%;
}
.list{
    list-style: none;
    left: 40%;
    top: 30%;
    
}
li{
    left: 40%;
    top: 30%;
}
.tab {
    margin-left: 30%;
    left: 40%;
    top: 30%;
   }