.column {
    margin: 12%;
    height: 20%;
	background: #378de5;
	text-align: center;
	font-size: 1.5em;
}
.item {
    margin: 5%;
    width: 30%;
    
	background: #378de5;
	text-align: center;
	font-size: 1.5em;
}
.container {
    max-width: 70%;
	margin: 0 auto;
    border: 1px solid #ccc;
    display: flex;
}
body {
	font-family: arial;
	
}